@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="序号" value="${item.id}" underline="true"/>
                            <#input id="rwmc" name="任务名称" value="${item.rwmc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="scenario" name="用例名" value="${item.scenario}" underline="true"/>
                            <#input id="tgf" name="通过否" value="${item.tgf}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TestlogInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TestlogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/testlog/testlog_info.js"></script>
@}
