<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.TestlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Testlog">
        <id column="id" property="id" />
        <result column="rwmc" property="rwmc" />
        <result column="scenario" property="scenario" />
        <result column="tgf" property="tgf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rwmc, scenario, tgf
    </sql>
    <select id="selecttestlog" resultType="map">
        select
        <include refid="Base_Column_List" />
        from testlog
        where id is not null
        <if test="condition != null and condition != ''">
            and rwmc =#{condition}
        </if>
        order by id
    </select>

</mapper>
